* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    z-index: 1;
}

img.logo {
    height: 50px;
    margin: 10px;
    display: inline-block;
}

div.menu {
    display: flex;
    justify-content: end;
}

div a.menu-item {
    margin: 15px;
}

div.mission {
    height: 700px;
    width: 1200px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    position: relative;
    display: flex;
}

div.body {
    position: relative;
    top: 70px;
    display: flex;
    justify-content: center;
}
