body {
  background-color: #cbd3f5;
}

* {
  font-family: Garamond, serif;
}

.tag {
  font-family: "Courier New", Courier, monospace;
}

table {
  border: 3px solid #b1adde;
}

td {
  border-bottom: 3px solid #b1adde;
  background-color: #c3ebfa;
}

.ignore {
  border-bottom: 0px;
}

h1,
h2 {
  text-align: center;
}

span {
  background-color: #d7c3fa;
}

thead td {
  background-color: #adc3de;
}
