* {
  font-family: Garamond, serif;
  box-sizing: border-box;
}

body {
  background-color: #F8F4E3;
}

header {
  background-color: #634B66;
  color: #F8F4E3;
}

h1,
h2 {
  text-align: center;
}

a:link {
  color: #307473;
}

a:visited {
  color: #A13D63;
}

a:hover {
  color: #634B66;
}

a:active {
  color: #E2A3C7
}
